<p style="color: green"><%= notice %></p>

<h1>ToDo List</h1>

<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <tr>
        <td><%= todo_list.title %></td>
        <td><%= todo_list.description %></td>
        <td><%= todo_list.completed %></td>
        <td><%= link_to "Show", todo_list %></td>
        <td><%= link_to "Edit", edit_todo_list_path(todo_list) %></td>
        <td><%= link_to "Destroy", @todo_list, method: :delete %></td> <%# link not working yet%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Add New ToDo List", new_todo_list_path, class:"btn btn-secondary" %>
